<div >
    <div class="row align-items-start">
      <div class="col">
        <img src="assets/images/vegi.jpg" style="height: 700px; width: 100%;">
     
      </div>
      <div class="col">
          <br>
        <form>
            <div class="mb-3">
              <label for="Raja" class="form-label">First Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="Last name" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div>
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <br>
            <div class="mb-5">
                <label for="Comments" class="form-label">Comments</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
            <button type="submit" class="btn btn-primary" (click)="submitted()">Submit</button>
          </form>
      </div>
    </div>
</div>