
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-light " id="navv">
    <div>
    <a class="navbar-brand" href="."  >
        
        <div id="su"><fa-icon [icon]="faShippingFast"  ></fa-icon>Go Kart
        <fa-icon [icon]="faShippingFast"  ></fa-icon>
    
    </div>
    </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']" id="ss">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/items']" id="ss">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" id="ss">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" id="ss">Contact us</a>
            </li>

            <div *ngIf="logg != true " >
                    
                <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" id="ss">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/signup']" id="ss">Sign up</a>
            </li>
                </ul>
        </div>
        <div *ngIf="logg == true ">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" id="ss">Log out</a>
            </li>
        </div>
            </ul>

            

            <a class="nav-link" [routerLink]="['/cart']"  >
        
                <div id="ca">
                    <fa-icon [icon]="faShoppingCart"  >
        
                    </fa-icon>
            
            </div>
        </a>
            
        </div>
    </nav>





    
<router-outlet>
    
</router-outlet>