<div class="container" style="background: url('assets/images/tex.jpg'); height: 500px;">
    <br>
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">First Name</label>
        <input type="string" class="form-control" id="First name">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Last Name</label>
        <input type="string" class="form-control" id="Last name">
      </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <br>
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>Andhra Pradesh</option>
        <option>Kerala</option>
        <option>Karnataka</option>
        <option>Maharashtra</option>
        <option>Madhya Pradesh</option>
        <option>Telangana</option>
        <option>Tamil Nadu</option>
        
        
      </select>
    </div>
    
    <div class="col-12">
      <div class="form-check">
        
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Agree to Terms and Conditions
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)='success()'>Sign up</button>
    </div>
  </form>
</div>